@model Tracker.ViewModels.ConsignmentViewModel
@{
    ViewBag.Title = "Edit Consignment";
}
<div id="divAddDailog" title="Edit Consignment">
    @using (Html.BeginForm("AddConsignment", "Consignment", FormMethod.Post))
    {
        @Html.LabelFor(m => m.NewConsignment.TrackingId)
        @Html.TextBoxFor(m => m.NewConsignment.TrackingId, new { id = "txtTrackingId", @readonly = "readonly" })

        @Html.LabelFor(m => m.NewConsignment.ContactNumber)
        @Html.TextBoxFor(m => m.NewConsignment.ContactNumber, new { id = "txtContactNumber" })

        @Html.LabelFor(m => m.NewConsignment.Remarks)
        @Html.TextBoxFor(m => m.NewConsignment.Remarks, new { id = "txtRemarks" })

        @Html.LabelFor(m => m.NewConsignment.Status)
        @Html.TextBoxFor(m => m.NewConsignment.Status, new { id = "txtStatus" })

        @Html.LabelFor(m => m.NewConsignment.Destination.AddressLine1)
        @Html.TextBoxFor(m => m.NewConsignment.Destination.AddressLine1, new { id = "txtAddressLine1" })

        @Html.LabelFor(m => m.NewConsignment.Destination.AddressLine2)
        @Html.TextBoxFor(m => m.NewConsignment.Destination.AddressLine2, new { id = "txtAddressLine2" })

        @Html.LabelFor(m => m.NewConsignment.Destination.City)
        @Html.TextBoxFor(m => m.NewConsignment.Destination.City, new { id = "txtCity" })

        @Html.LabelFor(m => m.NewConsignment.Destination.State)
        @Html.TextBoxFor(m => m.NewConsignment.Destination.State, new { id = "txtState" })

        @Html.LabelFor(m => m.NewConsignment.Destination.Country)
        @Html.TextBoxFor(m => m.NewConsignment.Destination.Country, new { id = "txtCountry" })

        @Html.LabelFor(m => m.NewConsignment.Destination.PinCode)
        @Html.TextBoxFor(m => m.NewConsignment.Destination.PinCode, new { id = "txtPincode" })

        @Html.HiddenFor(m => m.NewConsignment.Destination.GeoLocation.Latitude, new { id = "hfLatitude" })
        @Html.HiddenFor(m => m.NewConsignment.Destination.GeoLocation.Longitude, new { id = "hfLongitude" })

        <input id="btnSave" type="submit" value="Save" />
    }
</div>

<table class="grid-style">
    <caption>
        <form action="/Home/TrackConsignment" method="get">
            <span>Click list item to edit</span>
            <span style="float:right; padding-right:10px;">Search <input type="text" name="TrackingId" style="width:8em;font-size:0.9em;" /> <button id="btnSearch" style="height:1.6em;"></button></span>
        </form>
    </caption>
    <thead>
        <tr>
            <th>Tracking ID</th>
            <th>Status</th>
            <th>Remarks</th>
            <th>Assign Date Time</th>
            <th>Delivery Date Time</th>
            <th>Contact Number</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ConsignmentList)
        {
            <tr style="cursor:pointer" data-track-id="@item.TrackingId" data-status="@item.Status" data-remarks="@item.Remarks" data-contactnumber="@item.ContactNumber"
                data-address-line1="@item.Destination.AddressLine1" data-address-line2="@item.Destination.AddressLine2" data-address-city="@item.Destination.City"
                data-address-country="@item.Destination.Country" data-address-landmark="@item.Destination.LandMark" data-address-pincode="@item.Destination.PinCode"
                data-address-id="@item.Destination.AddressId" data-address-state="@item.Destination.State"
                data-address-geo-lat="@item.Destination.GeoLocation.Latitude" data-address-geo-lng="@item.Destination.GeoLocation.Longitude">
                <td>@Html.ActionLink(item.TrackingId, "TrackConsignment", "Home", new { TrackingId = item.TrackingId }, null)</td>
                <td>@item.Status</td>
                <td>@item.Remarks</td>
                <td>@item.AssignDateTime</td>
                <td>@item.DeliveryDateTime</td>
                <td>@item.ContactNumber</td>
                <td>
                    @item.Destination.AddressLine1
                    @item.Destination.AddressLine2
                    @item.Destination.City
                    @item.Destination.State
                    @item.Destination.Country
                    @item.Destination.PinCode
                    @item.Destination.LandMark
                    <br />
                    <span data-geo-url="@string.Format("http://maps.google.com/maps/api/staticmap?zoom=18&size=300x300&maptype=satellite&sensor=false&center={0},{1}", item.Destination.GeoLocation.Latitude, item.Destination.GeoLocation.Longitude)" class="ui-icon ui-icon-image" style="cursor:pointer; display:inline-block"></span><span>Map</span>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#btnSearch").button({
                icons: {
                    primary: "ui-icon-search"
                },
                text: false
            });
            $dlg = $('#divAddDailog').dialog({
                autoOpen: false,
                position: { my: "top", at: "right-12% top+3%", of: window },
                minWidth: 400
            });

            $('table tr[data-track-id]').on('click', function () {
                $('#txtTrackingId').val($(this).attr("data-track-id"));
                $('#txtStatus').val($(this).attr("data-status"));
                $('#txtRemarks').val($(this).attr("data-remarks"));
                $('#txtContactNumber').val($(this).attr("data-contactnumber"));
                $('#txtAddressLine1').val($(this).attr("data-address-line1"));
                $('#txtAddressLine2').val($(this).attr("data-address-line2"));
                $('#txtCity').val($(this).attr("data-address-city"));
                $('#txtState').val($(this).attr("data-address-state"));
                $('#txtCountry').val($(this).attr("data-address-country"));
                $('#txtPincode').val($(this).attr("data-address-pincode"));
                $dlg.dialog('open');
            });
        });
    </script>
}