@model Tracker.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
@*@section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                    <h2>@ViewBag.Message</h2>
                </hgroup>
                <p>
                    Track your men working in the field
                </p>
            </div>
        </section>
    }*@
<table class="grid-style">
    <caption>
        <form action="/Home/TrackConsignment" method="get">
            <span>Showing List</span>
            <span style="float:right; padding-right:10px;">Search <input type="text" name="TrackingId" style="width:8em;font-size:0.9em;" /> <button id="btnSearch" style="height:1.6em;"></button></span>
        </form>
    </caption>
    <thead>
        <tr>
            <th>Tracking ID</th>
            <th>Status</th>
            <th>Remarks</th>
            <th>Assign Date Time</th>
            <th>Delivery Date Time</th>
            <th>Contact Number</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ConsignmentList)
        {
            <tr>
                <td>@Html.ActionLink(item.TrackingId, "TrackConsignment", "Home", new { TrackingId = item.TrackingId }, null)</td>
                <td>@Model.GetJobStatus(item.Status)</td>
                <td>@item.Remarks</td>
                <td>@item.AssignDateTime</td>
                <td>@item.DeliveryDateTime</td>
                <td>@item.ContactNumber</td>
                <td>
                    @item.Destination.AddressLine1
                    @item.Destination.AddressLine2
                    @item.Destination.City
                    @item.Destination.State
                    @item.Destination.Country
                    @item.Destination.PinCode
                    @item.Destination.LandMark
                    <br />
                    <span data-geo-url="@string.Format("http://maps.google.com/maps/api/staticmap?zoom=18&size=300x300&maptype=satellite&sensor=false&center={0},{1}", item.Destination.GeoLocation.Latitude, item.Destination.GeoLocation.Longitude)" class="ui-icon ui-icon-image" style="cursor:pointer; display:inline-block"></span><span>Map</span>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <style type="text/css">
        .map {
            width: 305px;
            height: 305px;
            border: 5px solid gray;
            border-radius: 10px;
        }

        .ui-tooltip {
            max-width: 305px;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            $("#btnSearch").button({
                icons: {
                    primary: "ui-icon-search"
                },
                text: false
            });
            $(document).tooltip({
                items: "[data-geo-url]",
                track: true,
                position: {
                    my: "left top",
                    at: "left bottom"
                },
                content: function () {
                    var element = $(this);
                    if (element.is("[data-geo-url]")) {
                        return "<img class='map' alt='map' src='" + element.attr('data-geo-url') + "'>";
                    }
                }, show: {
                    effect: "slideDown",
                    delay: 500
                }
            });
        });
    </script>
}